@import "./../../../styles.scss";

.card-container {
    display: grid;
    grid-gap: 10px;
    background-color: white;
    margin-bottom: 1rem;

    @include box-shadow();
    .header {
        // border: 3px solid black;
        background-color: $green;
        padding: 1rem;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        letter-spacing: 1px;
        // grid-template-areas:
        //     "headl topics"
        //     "footl topics";
        .top-header {
            padding: 1rem;
            // border: 2px solid green;
            // grid-area: "headl";
            grid-column-start: 1;
            grid-column-end: 2;
            display: flex;
            align-items: center;
            gap: 1rem;
            .lesson {
                border: 1px solid black;
                border-radius: 50%;
                padding: 0.5rem;
            }
            .title {
                background-color: white;
                padding: 0.5rem;
                border: 1px solid black;
            }
        }
        .purpose {
            padding: 1rem;
            // border: 2px solid orange;
            // grid-area: "footl";
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .topics {
            padding: 1rem;
            // grid-area: "topics";
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            border: 2px solid black;
            list-style: none;
        }
    }
    // .header {
    //     grid: 1fr 1fr;
    //     grid-template-rows: 200px 200px 200px;
    //     grid-template-areas:
    //         "head head"
    //         "nav main"
    //         "foot foot";

    //     letter-spacing: 1.1px;
    //     padding: 10px;
    //     background-color: $green;
    //     color: white;
    //     display: flex;
    //     flex-direction: column;
    //     gap: 1rem;
    //     font-size: 0.7rem;
    //     letter-spacing: 2;
    //     .top-header {
    //         grid-area: "nav";
    //         display: flex;

    //         gap: 10px;
    //         align-items: center;
    //         .lesson {
    //             border: 2px solid white;
    //             border-radius: 50%;
    //             padding: 0.3rem;
    //         }
    //         .title {
    //             display: flex;

    //             .subtitle {
    //             }
    //         }
    //         .bottom-header {
    //             display: flex;
    //             gap: 1rem;
    //             .topics {
    //                 border: 2px solid white;
    //                 padding: 0.5rem;
    //                 list-style: none;
    //             }
    //             .purpose {
    //             }
    //         }
    //     }
    // }
    .body,
    .footer {
        padding: 10px;
    }
}
