<footer>
    <div class="social-media-container">
        <h2>Stay up to date on what we're doning!</h2>
        <ul>
            <li>
                <a href=""
                    target="_blank">
                    fb
                </a>
            </li>
            <li>
                <a href=""
                    target="_blank">
                    tw
                </a>
            </li>
            <li>
                <a href=""
                    target="_blank">
                    li
                </a>
            </li>
            <li>
                <a href=""
                    target="_blank">
                    yt
                </a>
            </li>
        </ul>
    </div>
    <p class="copy-right">
        {{year}} - Dylan Israel Inc.
    </p>
</footer>
