<div class="password-container">
    <div class="password">
        <label for="password">Password</label>
        <input type="password"
            id="password"
            [(ngModel)]="password"
            #passwordInput="ngModel">
    </div>
    <div class="password-strength">
        <progress [value]="passwordStrengthPercent"
            [max]="100"></progress>
    </div>
    <div class="password-hints"
        *ngIf="passwordInput.touched">
        <ul>
            <li *ngIf="!is8CharactersOrGreater">Min length of 8 required.</li>
            <li *ngIf="!hasOneCapitalLetterOrMore">One or more capital letters required.</li>
            <li *ngIf="!hasOneNumberOrMore">One or more numbers required.</li>
            <li *ngIf="!hasOneSpecialCharacterOrMore">One or more special characters required.</li>
        </ul>
    </div>
</div>
