<app-toolbar [title]="'100 Angular Chalenge'">
    <ul>
        <li routerLink="components">Components</li>
        <li routerLink="directives">Directives</li>
        <li routerLink="services">Services</li>
        <li routerLink="pipes">Pipes</li>
        <li routerLink="other">Other</li>
    </ul>
</app-toolbar>
<main>
    <router-outlet></router-outlet>


</main>
<app-card [title]="'Top of Page'"
    [lesson]="18"
    [purpose]="'Build a top of page component that is displayed when pass the 400px and when clicked brings you to the top of the page'"
    [subTitle]="'Components'"
    [topics]="['@Component', 'ViewportScroller', '@Hostlistener', 'class bindings']">
    <app-top-of-page body></app-top-of-page>
</app-card>

<app-card [title]="'Snackbar'"
    [lesson]="52"
    [subTitle]="'Components'"
    [topics]="['@Component()', '@Input', 'of()', 'pipe()', 'delay()', 'unsubscribe()', 'ViewChild()']"
    [purpose]="'Build a snackbar that takes in a message. It should fade in from the bottom and fade back out to the bottom'">
    <div class=""
        body>
        <app-snackbar [message]="'Snackbar Example'"
            #snackbar></app-snackbar>
        <button (click)="snackbar.showMessage()">Show Snackbar</button>
    </div>
</app-card>
