@import "src/styles";
app-toolbar {
    ul {
        li {
        }
    }
}
main {
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1rem;
}
.active {
    background-color: white;
    color: $blue;
}
